<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/images/ttg_fav.png"/>

  <link rel="stylesheet" href="/css/wk_all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

  <title>Sahapattana</title>
  <style>
    body{
      margin: auto;
      width:600px;
      margin-top: 20px;
    }

    header {
      background-color: var(--main-darker);
      color: white;
      text-align: center;
      border-radius: 10px;
    }
    main{
      background-color: var(--main-mid);
      border-radius: 10px;
      /* padding: 5px; */
    }

    a {
      color: lightblue!important;
      text-decoration: none;
    }
    a:hover {
      color: lime!important;
      text-decoration: none;
    }


  </style>
</head>

<body class="bg-main-dark">

  <!--  -->
  <header class="container pt-2 pb-2">
    <div class="row">
      <div class="col-md-12">
        <h3 style="color: dodgerblue;">Sahapattana</h3>
      </div>
    </div>
  </header>

      
  <main class="container pb-4">

    <!-- #1 -->
    <div class="row pt-3">
      <div class="col-md-12">
        <span class="text-success">1.)</span>
        <a href="/watcharachai/index.html" target="_blank">Gas Shop : Watcharachai</a>
      </div>
    </div>

    <hr style="border: 1px dotted gray;">

    <!-- #2 -->
    <div class="row pt-1">
      <div class="col-md-12">
        <span class="text-success">2.)</span>
        <a href="/fo/index.html" target="_blank">Fuel Order</a>
      </div>
    </div>

    <hr style="border: 1px dotted gray;">

    <!-- # -->
    <div class="row pt-1">
      <div class="col-md-12">
        <span class="text-success">3.)</span>
        <a href="/amazonnonthong/index.html" target="_blank">Amazon Nonthong</a>
      </div>
    </div>

    <!-- # -->
    <div class="row pt-1">
      <div class="col-md-12">
        <span class="text-success">4.)</span>
        <a href="/amazonporkhun/index.html" target="_blank">Amazon Porkhun</a>
      </div>
    </div>

    <!-- # -->
    <div class="row pt-1">
      <div class="col-md-12">
        <span class="text-success">5.)</span>
        <a href="/amazonsadiang/index.html" target="_blank">Amazon Sadiang</a>
      </div>
    </div>

    <hr style="border: 1px dotted gray;">

    <!-- # -->
    <div class="row pt-1">
      <div class="col-md-12">
        <span class="text-success">6.)</span>
        <a href="/amazon/index.html" target="_blank">ASR Sadiang</a>
      </div>
    </div>
    <!--  -->
    <!-- <div class="row pt-1">
      <div class="col-md-12">
        <a href="/asr-sadiang/index.html" target="_blank">8.) ASR Sadiang</a>
      </div>
    </div> -->

    
    <!-- # -->
    <div class="row pt-1">
      <div class="col-md-12">
        <span class="text-success">7.)</span>
        <a href="/asr-nonthong/index.html" target="_blank">ASR Nonthong</a>
      </div>
    </div>

    <!-- # -->
    <div class="row pt-1">
      <div class="col-md-12">
        <span class="text-success">8.)</span>
        <a href="/asr-porkhun/index.html" target="_blank">ASR Porkhun</a>
      </div>
    </div>
    

    <hr style="border: 1px dotted gray;">

    <!-- #9 -->
    <div class="row pt-1">
      <div class="col-md-12">
        <span class="text-success">9.)</span>
        <a href="/countmoney/index.html" target="_blank">นับเงิน</a>
      </div>
    </div>

    <hr style="border: 1px dotted gray;">

    <!-- # -->
    <div class="row pt-1">
      <div class="col-md-12">
        <span class="text-success">10.)</span>
        <a href="/gfp/index.html" target="_blank">GFP</a>
      </div>
    </div>

    <!-- #  -->
    <div class="row pt-1">
      <div class="col-md-12">
        <span class="text-success">11.)</span>
        <a href="/gfppt/index.html" target="_blank">GFP.PT</a>
      </div>
    </div>
    
    <hr style="border: 1px dotted gray;">

    <!-- # -->
    <div class="row pt-1">
      <div class="col-md-12">
        <span class="text-success">12.)</span>
        <a href="/lpm/index.html" target="_blank">LPM</a>
      </div>
    </div>

    <!-- <hr style="border: 1px dotted gray;"> -->

    <!--  -->
    <!-- 
    <div class="row pt-1">
      <div class="col-md-12">
        <a href="/psm/index.html" target="_blank">.) psm</a>
      </div>
    </div> 
    -->


  </main>

</html>